<div class="book-container">
  <div class="row">

    <div class="col-6">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <button class="btn btn-primary btn-sm"> <%= @product.category %> </button>
      <button class="btn btn-success btn-sm"> Add a Review </button>
    </div>

    <div class="col-6" style="padding-left:12px">
      <h3> <%= @product.name %> </h3>
      <div class="container text-center">
        <h4> by <%= 'Author' %> </h4>
  <!--       <h4> <%= @product.description %> </h4>
        <h4> <%= @product.price %> </h4> -->
      </div>
      <h4> ... </h4>
    </div>

  </div>

</div>
<div class="book-container">
  <h3>Reviews</h3>
  <div class="review-container">

  </div>
  <div class="review-container">

  </div>
  <div class="review-container">

  </div>
</div>
